# Log basic notices
Log notice file /var/log/tor/notices.log

# Run in the background
RunAsDaemon 1

# Where to store keys
DataDirectory /var/lib/tor

# Required: what port to advertise for incoming Tor connections.
ORPort {{ tor_orport }}

Nickname {{ nick_name }}

# Cap bandwidth
RelayBandwidthRate {{ tor_relay_bandwidth_rate }}
RelayBandwidthBurst {{ tor_relay_bandwidth_burst }}

#This is on a monthly basis
AccountingMax {{ tor_accounting_max }}

# This should be set to day/time initially run, with "month" indicating monthly accounting
AccountingStart {{ tor_accounting_start }}

ContactInfo {{ full_name }} <{{ email_address }}>

# Mirror directory information on this port
DirPort {{ tor_dir_port }}

# No exits allowed
ExitPolicy reject *:*

# config changed
